*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d6e2f0;
    color: #1f3251;
    font-family: Century Gothic;
    font-size: 6vw;
    text-align: center;
}
